

                                /* INITIALISATION THEME GLOBAL */
* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Gruppo', cursive;
}


                                /* ELEMENTS PRINCIPAUX HTML*/
h1{
    margin-top: 50px;
    color: #324553;
    font-weight: 900;
}

h2{
    margin-top: 30px;
    color: #324553;
    font-weight: 500;
}

#wrapper{
    width: 60%;
    margin:0 auto;
}

#main{
    text-align: center;
    margin: 10px;
    border: 1px solid #32baca;
    padding: 15px;
}


                            /* MENU PRINCIPAL */
#menu{
    margin-top: 20px;
    padding: 5px ;
    list-style: none;
    border-bottom: 1px solid #b0c6c4 ;
    border-top: 1px solid #b0c6c4 ;
}

#menu li{
    display: inline-block;
    width: 100px;
    padding: 0 10px;
}

a{
    color: #324553;
    text-decoration: none;
    font-weight: 900;
}

a:hover{
    padding: 5px 10px;
    background-color: #f85723;
    color: #fff;
    border: 0;
    border-radius: 2px;
}


                                /* FORMULAIRE : LOGIN/OUT */

input{
    height: 20px;
    border: 1px solid #32baca;
}

#dologin, #dologout{
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: #304653;
    color: #fff;
    border-radius: 2px;
    border: none;
}

#dologin:hover, #dologout{
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: #f85723;
    color: #fff;
    border-radius: 2px;
    border: none;
}


                                /*PAGE INSCRIPTION - FORMULAIRE*/


#inscription{
    width: 70%;
    margin: 15px auto;
    vertical-align: middle;
}

#inscription .erreur{
    color: darkred;
    font-weight: 900;
}

#inscription li{
    list-style: none;
    margin-top: 15px;
}

#inscription label{
    width: 120px;
    display: inline-block;
    text-align: left;
}

#inscription input{
    width: 230px;
    height: 20px;
}

#genre{
    width: 252px;
    display: inline-block;
    position: relative;
}

#genre label{
    width: 20px;
    position: absolute;
    left: 36px;
}

#h, #f{
    width: 10px;
}

#f{
    left: 111px !important;
}

#sexe input{
    width: 20px;
    margin-right: 50px;
}

#register{
    margin: 30px auto 5px auto;
    padding: 5px 10px;
    background-color: #304653;
    color: #fff;
    border-radius: 2px;
    border: none;
}

#register:hover{
    padding: 5px 10px;
    background-color: #f85723;
    color: #fff;
    border-radius: 2px;
    border: none;
}

#inscription span{
    color: darkred;
    font-weight: 800;
    margin-top: 5px;
}

#inscription p{
    color: darkred;
    font-weight: 800;
    font-size: small;
}





                                /*PAGE CHAT*/
#chat{
    display: block;
    width: 90%;
    margin: auto;
}

#chat li{
    margin-top: 10px;
    list-style: none;
    border-radius: 10px;
    padding: 5px;
}

#user_pseudo{
    font-weight: 900;
}

.like_msg{
    color: darkred;
    font-weight: 800;
}
